:root {

    --userColor: #ff0046;
    /* --userColorHover: #ff0044a8; */
    --fontLogo: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --colortwo: #ff0000;
    --colorThree: #ffffff;
    --white: #ffffff;
    /* --blackBg: #ffffff;
    --blackText: #000000; */
}

.dark-mood {
    --blackBg: #000000;
    --blackText: #ffffff;
    --changeIconColor: invert(1);
}
@media (max-width:500px) and  (min-width:0px) {
    .navigation {
        height: 12vh;
        width: 100%;
        /* background-color: #00ff047d; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation ul {
        font-size: 20px;
        font-family: var(--fontLogo);
        display: none;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 20px;
        margin-right: 40px;
    }
    .moonMenu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row;
        flex-direction: row
    }
    #logo{
        display: none;
    }
    .moonMenu svg{
     height: 30px;
     filter: var(--changeIconColor);
     cursor: pointer;
     margin-left: 30px;
    }
    .countener {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: column-reverse;
    }
   
    .content-image{
        /* position: relative;
        top: 95%; */
        /* left: 0; */
        margin:300px 0px 100px 0px;
    }
    .countener .text h1{
        text-align: center;
        /* font-size:40px; */
        transform: scale(.69);
    }
     .text h1 span{
        /* font-size: 40px; */
    }
    .icon-s {
        height: 100px;
        width: 100%;
        /* background-color: #ff0046; */
        position: relative;
        top: -8%;
        display: flex;
        justify-content:center;
        align-items: center;
    
    }
    .text .center-of-btn{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -80px;
    }
    #menu{
        display: block;
    }
    .content-image{
        transform: scale(0.69);
    }
}
@media (max-width:721px) and  (min-width:500px) {
    .navigation {
        height: 12vh;
        width: 100%;
        /* background-color: #00ff047d; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation ul {
        font-size: 20px;
        font-family: var(--fontLogo);
        display: none;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 20px;
        margin-right: 40px;
    }
    .moonMenu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row;
        flex-direction: row
    }
    #logo{
        display: none;
    }
    .moonMenu svg{
     height: 30px;
     filter: var(--changeIconColor);
     cursor: pointer;
     margin-left: 30px;
    }
    .countener {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: column-reverse;
    }
   
    .content-image{
        /* position: relative;
        top: 95%; */
        /* left: 0; */
        margin:300px 0px 100px 0px;
    }
    .countener .text h1{
        text-align: center;
        /* font-size:40px; */
        transform: scale(.69);
    }
     .text h1 span{
        /* font-size: 40px; */
    }
    .icon-s {
        height: 100px;
        width: 100%;
        /* background-color: #ff0046; */
        position: relative;
        top: -8%;
        display: flex;
        justify-content:center;
        align-items: center;
    
    }
    .text .center-of-btn{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -80px;
    }
    #menu{
        display: block;
    }
    .content-image{
        transform: scale(0.69);
    }
}
